<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Raision veneseura{% if page_title is defined %} - {{ page_title }} {% endif %}</title>
    <meta charset="utf-8">
    <meta name="Keywords" content="Raisio veneseura">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="Raision veneseuran kotisivut.">
    <link rel="stylesheet" href="srcs/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />
  </head>
 
