<!-- original content goes in this container -->
<div class="off-canvas-content" data-off-canvas-content>
  <div class="row column">
    <div class="row collapse">
      <div class="page">
        <div class="column medium-4 large-3 xlarge-3 hide-for-small-only"> 
          <div class="sidenav">
            <?php ?>
          </div>
        </div>
        <div class="column small-12 medium-8 large-9 xlarge-9"> 
        </div>
      </div>
    </div>
  </div>
</div>
<!-- close wrapper, no more content after this -->
